* {
    margin: 0;
}
/* section class="following-header" */
.following-header {
    height: 58px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 5;
    padding: 10px;
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.5);
    top: 0;
}
.sub-header {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100%;
}
.logo {
    height: 48px;
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/siteLogo.png");
}
.center {
    width: 30%;
}
.contact {
    width: 30%;
}
.contact a{
    background-color: #006B6D;
    text-decoration: none;
    color: white;
    padding: 10px 18px;
    border-radius: 22px;
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.mail-img {
    height: 18px;
    width: 32px;
    margin-right: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icon_mail_wh.png);
}
/* section class="main-header" */
.main-header {
    background-image: url("../img/kv.png");
    height: 60vh;
    width: 100%;
    margin-top: 78px;
    position: relative;
    text-align: center;
    animation: fadeIn 3s ease 0.3s 1 normal;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    };
    100% {
        opacity: 1;
    }
}
/* section class="overview" */
.overview {
    text-align: center;
    height: 40vh;
    width: 100%;
    padding: 50px 0;
    background: -webkit-linear-gradient(45deg, #DEEFEC, #89C1C3); 
}
.content {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding: 30px 0 45px 0;
}
.content h2 {
    padding-top: 20px;
}
.content p {
    color: #666666;
    padding-top: 25px;
    line-height: 250%;
    opacity: 0.7;
    font-size: 14px;
}
.overview-wrap {
    display: flex;
    justify-content: center;
}
.overview-wrap div{
    margin: 0 15px;
    background-color: white;
    border-radius: 6px;
    padding: 20px 15px;
    box-shadow: 2px 2px 4px gray;
    font-size: 14px;
    line-height: 180%;
    width: 15%;
}
.overview-wrap span {
    color: #006B6D;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
/* section class="explain" */
.explain {
    width: 100%;
    height: auto;
    padding-top: 150px;
}
.explain-content {
    width: 52%;
    height: auto;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
}
.explain-text {
    width: 45%;
    padding: 20px 30px;
}
.explain-text span {
    color: #006B6D;
    font-size: 20px;
    padding-bottom: 20px;
}
.explain-text h4 {
    line-height: 175%;
}
.explain-text p {
    font-size: 14px;
    color: #666666;
    padding-top: 30px;
    line-height: 200%;
}
.explain-img {
    width: 50%;
    height: 300px;
    margin: 15px auto;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.one {
    background-image: url("../img/thumb01.png");
}
.two {
    background-image: url("../img/thumb02.png");
}
.three {
    background-image: url("../img/thumb03.png");
}
/* section class="flow */
.flow {
    height: auto;
    width: 100%;
    background: -webkit-linear-gradient(45deg, #DEEFEC, #89C1C3); 
}
.flow-img {
    box-shadow: 2px 2px 4px gray;
    height: 240px;
    width: auto;
    margin: 30px 0;
    padding: 30px;
    border-radius: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/flow.png");
}
/* section class="custom" */
.custom {
    height: auto;
    width: 100%;
}
.custom-box {
    width: 100%;
    height: auto;
    background: -webkit-linear-gradient(45deg, #DEEFEC, #89C1C3); 
    margin: 25px 0;
    padding: 25px 0;
    border-radius: 10px;
}
.custom-box-img {
    width: 90%;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cb-img1 {
    background-image: url("../img/cb-1.png");
}
.cb-img2 {
    background-image: url("../img/cb-2.png");
}
.custom-box-text {
    width: 90%;
    margin: 20px auto 10px auto;
    font-size: 13px;
}
.custom-box-text span {
    font-size: 16px;
    font-weight: 600;
}
/* section class="interface" */
.interface {
    height: auto;
    width: 100%;
}
.interface-content-box {
    display: flex;
    width: 100%;
    margin: 30px auto;
}
.left {
    margin-left: 0;
}
.right {
    margin-right: 0;
    width: 90%;
}
.interface-content-box-img {
    width: 45%;
    height: 300px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding-top: 10px;
}
.ic-img1 {
    height: 280px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/ipad1.png");
}
.ic-img2 {
    height: 280px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/ipad2.png");
}
.ic-img3 {
    height: 280px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/ipad3.png");
}
.ic-img4 {
    height: 280px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/ipad4.png");
}
.interface-content-box-text {
    width: 45%;
    padding: 40px 0;
}
.interface-content-box-text h4 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding: 10px 0;
}
.interface-content-box-text p {
    font-size: 12px;
    text-align: left;
    opacity: 1;
}
/* section class="performance" */
.performance {
    width: 100%;
    height: auto;
    background: #DEEFEC; 
}
.performance-content-img {
    width: 80%;
    height: 400px;
    margin: 25px auto;
    border-radius: 5px;
    background-image: url("../img/map.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* section class="join */
.temp-none {
    display: none;
}
/* .join {
    width: 100%;
    height: 60vh;
    background-color: azure;
}
.join-content {
    width: 60%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    padding: 0;
}
.join-content h2 {
    padding: 15px 0;
}
.join-content-wrap {
    width: 100%;
    display: flex;
    padding: 30px 0;
}
.join-content-wrap-img {
    width: 33%;
    padding: 15px;
}
.join-content-wrap-img h5 {
    margin: 15px 0;
}
.join-content-wrap-img p {
    font-size: 12px;
    opacity: 0.7;
    padding-bottom: 15px;
}
.join-content-wrap-img a {
    font-size: 12px;
    opacity: 0.7;
    color: cadetblue;
    border: 1px solid cadetblue;
    border-radius: 12px;
    padding: 7px;
    cursor: pointer;
}
.img1 {
    width: 90%;
    margin: 0 auto;
    height: 150px;
    border-radius: 6px;
    background-image: url("../img/mainBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img2 {
    width: 90%;
    margin: 0 auto;
    height: 150px;
    border-radius: 6px;
    background-image: url("../img/mainBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
.img3 {
    width: 90%;
    margin: 0 auto;
    height: 150px;
    border-radius: 6px;
    background-image: url("../img/mainBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}  */

/* section class="footer" */
.footer {
    width: 100%;
    height: auto;
}
.footer-main {
    width: 100%;
    height: auto;
    background-color: #006B6D;
    text-align: center;
    padding: 40px 0;
}
.footer-main p {
    color: white;
    padding: 40px 0;
}
.footer-main a {
    background-color: white;
    color: #006B6D;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    height: 26px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
}
.footer-mail-img {
    height: 22px;
    width: 34px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/footer-mail.png);
}
.footer-sub {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
.copyright {
    font-size: 12px;
    opacity: 0.7;
}
.footer-logo {
    height: 42px;
    width: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/siteLogo.png");
}
.pc-none {
    display: none;
}

/* SP */
@media screen and (max-width: 480px) {
    /* section class="following-header" */
    .logo {
        height: 48px;
        width: 30%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/siteLogo.png");
        position: fixed;
        left: 5px;
    }
    .center {
        display: none;
    }
    .contact {
        position: fixed;
        right: 0;
        width: 45%;
    }
    /* section class="main-header" */
    .main-header {
        background-image: url("../img/sp-main-head.png");
        height: 59vh;
        width: 100%;
        margin-top: 78px;
        text-align: center;
        animation: fadeIn 3s ease 0.3s 1 normal;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translate(0, 0);
        };
        100% {
            opacity: 1;
        }
    }
    /* section class="overview" */
    .overview {
        text-align: center;
        height: auto;
        width: 100%;
        padding: 30px 0;
        background: linear-gradient(#DEEFEC, #89C1C3); 
    }
    .content {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        padding: 30px 0;
    }
    .sp-none {
        display: none;
    }
    /* section class="explain" */
    .explain {
        width: 100%;
        margin: 0 auto;
        height: auto;
        padding: 0;
    }
    .explain-content {
        width: 80%;
        height: auto;
        padding: 30px 0 0 0;
        display: inherit;
    }
    .explain-text {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .explain-img {
        width: 100%;
        height: 300px;
        margin: 15px auto;
        border-radius: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .explain-bg {
        width: 90%;
        margin: 15px auto;
        padding: 5px 0;
        background-color: antiquewhite;
        border-radius: 5px;
    }
    .pc-none {
        display: inherit;
    }
    /* section class="flow */
    .flow {
        height: auto;
        width: 100%;
        background: -webkit-linear-gradient(45deg, #DEEFEC, #89C1C3); 
    }
    .flow-img {
        box-shadow: 2px 2px 4px gray;
        height: 1000px;
        width: auto;
        margin: 30px 0;
        padding: 30px;
        border-radius: 20px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/flow-sp.png");
    }
    /* section class="interface" */
    .interface {
        height: auto;
        width: 100%;
    }
    .interface-content-box {
        display: inherit;
        width: 100%;
        margin: 30px auto;
    }
    .interface-content-box-img {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        background-color: #f5f5f5;
        border-radius: 10px;
        padding-top: 10px;
    }
    .interface-content-box-text {
        width: 100%;
        padding: 10px 0;
    }
    .interface-content-box-text h4 {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        padding: 10px 0;
    }
    .interface-content-box-text p {
        padding-top: 10px;
        font-size: 14px;
        text-align: center;
        opacity: 1;
    }
    /* section class="performance" */
    .performance {
        width: 100%;
        height: auto;
        background: #DEEFEC; 
    }
    .performance-content-img {
        width: 100%;
        height: 350px;
        margin: 25px auto;
        border-radius: 5px;
        background-image: url("../img/map.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .performance-sp {
        color: #666666;
        opacity: 1 !important;
        line-height: 200% !important;
        font-size: 12px !important;
    }
    /* section class="footer" */
    .footer {
        width: 100%;
        height: auto;
    }
    .footer-main {
        width: 100%;
        height: auto;
        background-color: #006B6D;
        text-align: center;
        padding: 40px 0;
    }
    .footer-main p {
        width: 80%;
        margin: 0 auto;
        color: white;
        padding: 0 0 40px 0;
    }
    .footer-sub {
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
    }
    .copyright {
        font-size: 10px;
        opacity: 0.7;
    }
    .footer-logo {
        height: 35px;
        width: 35%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/siteLogo.png");
    }

}